#related-topics .topic-title{
  text-align : center;
}

#related-topics .topic-name{
  color : black;
}
.similar-topic-results{
  margin: 1px;
  position: relative;
  left: 2.5%;
  width: 95%;
  background-color: #d6d6c2;
  border-radius: 5px;
  border: 1px solid #000000;
}